<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176547688704-m3ndmfljca2ib0vghn8vj5qn6fb67hdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176547688704-m3ndmfljca2ib0vghn8vj5qn6fb67hdv</string>
	<key>API_KEY</key>
	<string>AIzaSyCCilF1Jdzpb42eWoZqFBZsa9EngNtAqeU</string>
	<key>GCM_SENDER_ID</key>
	<string>176547688704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carverauto.treasurehunt</string>
	<key>PROJECT_ID</key>
	<string>treasurehunt-309a0</string>
	<key>STORAGE_BUCKET</key>
	<string>treasurehunt-309a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176547688704:ios:d84c25d2b21fc1ff88c3e5</string>
</dict>
</plist>